---
import MainLayout from "../layouts/MainLayout.astro";
import SiteCard from "../components/SiteCard.astro";
import Contact from "../components/sections/Contact.astro";
const allFeaturedSites = await Astro.glob("./websites/*.md");
import WorkWithMe from "../components/sections/WorkWithMe.jsx";
import Header from "../components/Header.astro";
import About from "../components/sections/About";
---

<MainLayout>
  <div id="flex" class="flex lg:flex-row flex-col">
    <div
      id="LEFT-SIDE"
      class="bg border-r border-black 2xl:p-5 p-2 bg- md:h-screen h-full md:absolute relative md:left-0 sm:bottom-0 md:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
    >
      <div id="left-side-container" class="md:pr-3 md:mr-1">
        <Header />
        <About />
        <a href="/#contact">Contact cta</a>
      </div>
    </div>

    <div
      id="RIGHT-SIDE"
      class="bg- border-l border-onyx text-black md:h-screen h-full md:absolute relative right-0 sm:bottom md:w-3/5 w-full md:overflow-y-scroll overflow-x-hidden xl:p-5"
    >
      <div id="" class="bg- px-5">
        <WorkWithMe />

        <div id="craetive-concepts" class="bg- mr-2 mt-[155px] md:px-5">
          <h1 class="font- 2xl:text-4xl text-3xl">Creative Concepts</h1>
          <p id="services" class="bg- p-1">
            In my free time, I enjoy building out my other projects with js
            frameworks and php wp I've built javascript projects to not only
            categorize and simplify my life, but get to be creative too! For my
            other creative projects, I've also built...
          </p>
          <div id="grid" class="pl-1 pr-3 grid 2xl:grid-cols-2 gap-12">
            {
              allFeaturedSites.map((work) => (
                <SiteCard
                  title={work.frontmatter.title}
                  image={work.frontmatter.image.url}
                  alt={work.frontmatter.image.alt}
                  url={work.url}
                  testItem1={work.frontmatter.testItem1}
                />
              ))
            }
          </div>
        </div>
        <Contact />
      </div>
    </div>
  </div>
</MainLayout>
